.group-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  .group-title {
    width: 48%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }
  .group-members {
    width: 48%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }
}

.modal-member {
  height: 400px;
  overflow-y: auto;
}
